<div class="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="example-icon example-spacer" (click)="back()">navigate_before</mat-icon>
      <!-- <span class="example-spacer">{{name}}</span> -->
      <mat-icon class="example-icon" [matMenuTriggerFor]="menu">more_vert</mat-icon>
    </mat-toolbar-row>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item (click)="delete()">清除聊天记录</button> -->
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-toolbar>
</div>

<div class="content">
  <input id="videoCallButton" type="button" disabled value="Video Call" />
  <input id="endCallButton" type="button" disabled value="End Call" />
  <div *ngFor="let msg of msgList">
    <!-- <div *ngIf="msg.toId == toUser" class="flexbox">
        <p class="toright">{{msg.context}}</p>
        <mat-icon class="touxiang">room</mat-icon>
      </div> -->

    <!-- <div *ngIf="msg.toId != toUser" class="flexbox">
        <mat-icon class="touxiang">room</mat-icon>
        <p class="toleft">{{msg.context}}</p>
      </div> -->
    <p class="toleft">{{msg}}</p>
  </div>
</div>
<div class="footer">
  <mat-toolbar>
    <mat-toolbar-row>
      <input class="example-spacer" matInput [(ngModel)]="msg" name="msg" autocomplete="false">
      <button mat-button (click)="send()" [disabled]="!msg">send</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>