<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="example-icon example-spacer"></mat-icon>
    <span class="example-spacer">我</span>
    <mat-icon class="example-icon"></mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<div class="example-button-row">
  <button mat-raised-button (click)="reconnect()" cdkDrag>重新连接</button>
  <button mat-raised-button color="primary" (click)="deleteall()" cdkDrag>清空缓存</button>
  <button mat-raised-button color="accent" cdkDrag>Accent</button>
  <button mat-raised-button color="warn" cdkDrag>Warn</button>
  <button mat-raised-button disabled cdkDrag>Disabled</button>
  <a mat-raised-button routerLink="." cdkDrag>Link</a>
</div>



<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header color="primary">
      <mat-panel-title>
        my resume
      </mat-panel-title>
    </mat-expansion-panel-header>
    <iframe src="https://chousann.github.io/resume.html" width="100%" height="100%" frameborder="0"></iframe>
  </mat-expansion-panel>
</mat-accordion>
