<div style="display: flex; flex-direction: column; height: 100%;">
  <div style="flex-grow: 1; overflow-x: auto;">
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br><br><br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
<br>
cont<br>entcontentcontentcontent
contentc<br>ontentcontentcontentcontentcontentcontentcontent
contentconte<br>ntcontentcontent
contentcontentco<br>ntentcontent
<br>
cont<br>entcontentcontentcontent
<br>
cont<br>entcontentcontentcontent
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>

contentcontentcontentcontent<br>contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>
contentcontentcontentcontent<br>


  </div>
  <div style="flex-grow: 0;">
header
  </div>
</div>
<!-- <TabBar [hidden]="hidden" [barTintColor]="'white'" [tintColor]="tintColor" [ngStyle]="tabbarStyle"
  [activeTab]="selectedIndex" [unselectedTintColor]="unselectedTintColor" [tabBarPosition]="topFlag ? 'top' : 'bottom'"
  (onPress)="tabBarTabOnPress($event)">
  <TabBarItem [title]="'消息'" [key]="1" [dot]="true" [icon]="icon1" [selectedIcon]="icon11">
    <ng-template #icon1>
      <mat-icon>face</mat-icon>
    </ng-template>
    <ng-template #icon11>
      <mat-icon>face</mat-icon>
    </ng-template>
    <app-selectuser></app-selectuser>
  </TabBarItem>
  <TabBarItem [title]="'购物'" [key]="2" [badge]="false" [icon]="icon2" [selectedIcon]="icon22">
    <ng-template #icon2>
      <mat-icon>local_mall</mat-icon>
    </ng-template>
    <ng-template #icon22>
      <mat-icon>local_mall</mat-icon>
    </ng-template>
    <app-shop></app-shop>
  </TabBarItem>
  <TabBarItem [title]="'发现'" [key]="3" [badge]="false" [icon]="icon3" [selectedIcon]="icon33">
    <ng-template #icon3>
      <div
        style="width:24px;height: 24px;background: url('https://zos.alipayobjects.com/rmsportal/sifuoDUQdAFKAVcFGROC.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>
    <ng-template #icon33>
      <div
        style="width:24px;height: 24px;background: url('https://zos.alipayobjects.com/rmsportal/iSrlOTqrKddqbOmlvUfq.svg') center center / 21px 21px no-repeat;">
      </div>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <ng-container>
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </ng-container>
    </div>
  </TabBarItem>
  <TabBarItem [title]="'我'" [key]="4" [icon]="icon4" [selectedIcon]="icon44">
    <ng-template #icon4>
      <mat-icon>account_circle</mat-icon>
    </ng-template>
    <ng-template #icon44>
      <mat-icon>account_circle</mat-icon>
    </ng-template>
    <app-my></app-my>
  </TabBarItem>
</TabBar> -->
<ng-template #content>
  <iframe src="https://material.angular.cn/" width="100%" height="100%" frameborder="0"></iframe>
  <!-- <a style="display: block; margin-top: 40px; margin-bottom: 20px; color: #108ee9" (click)="showNextTabBar($event)">
    Click to next tab-bar
  </a>
  <a style="display: block; margin-top: 20px; margin-bottom: 20px; color: #108ee9" (click)="showTabBar($event)">
    Click to show/hide tab-bar
  </a>
  <a style="display: block; margin-top: 20px; margin-bottom: 20px; color: #108ee9" (click)="changePosition($event)">
    Click to change tab-bar position top/bottom
  </a>
  <a style="display: block; margin-bottom: 60px; color: #108ee9" (click)="showFullScreen($event)">
    Click to switch fullscreen
  </a> -->
</ng-template>