
.header,.footer{
  position: absolute;
  width:100%;
}
.header{
  top:0;
}
.footer{
  bottom:0;
}
.left ,.right{
  max-width:80%;         
}
.left{
  margin-right:auto;
}
.right{
  margin-left:auto;
}

.listwidth {
  width:100%;  
}
.center{
  position:absolute;    
  left:300px;
  right:300px;
  height: 100%;
  background-color: #94fa1a;

}
.content{
 position:absolute;
 top:56px;
 bottom:56px;
 width: 100%;
 overflow: auto;
}



.example-icon {
  padding: 0 0px;
}

.example-spacer {
  flex: 1 1 auto;
}

.flexbox{
  display: flex;
  flex-flow: auto nowrap;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
}

.toright
{
  margin-left:auto;
  margin-top:auto;
  margin-bottom:auto;
  max-width: 70%;
  word-wrap:break-word;word-break:break-all;
}

.toleft
{
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  max-width: 70%;
  word-wrap:break-word;word-break:break-all;
}

.touxiang {
  margin-right:5px;
  margin-top:2px;
  margin-left:5px;
}