<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="example-icon example-spacer"></mat-icon>
    <span class="example-spacer">用户列表</span>
    <mat-icon class="example-icon"></mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div>

  <mat-list *ngFor="let user of userList" role="list">
    <mat-list-item role="listitem" (click)="select(user)">
      <div class="flesstyle">
        <mat-icon matListItemIcon>person</mat-icon>
        <p><span [matBadge]="user.num" size="small" matBadgeOverlap="false">{{user.userName}}</span></p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>


</div>