.example-icon {
  padding: 0 0px;
}

.example-spacer {
  flex: 1 1 auto;
}

.footer {
  position:fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.header {
  position:fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.content {
  position:fixed;
  top: 56px;
  bottom: 112px;
  left: 0px;
  right: 0px;
  height: 100%;
}

.flesstyle {
  display: flex;
}

.margin {
  margin-left: 5px;
  margin-right: 20px;
}