<mat-tab-group headerPosition="below" animationDuration="0ms" disableRipple="false" dynamicHeight="true">
  <mat-tab label="通讯录">
    <ng-template mat-tab-label>
      <mat-icon>face</mat-icon>
    </ng-template>
    <app-selectuser></app-selectuser>
  </mat-tab>
  <mat-tab label="发现">
    <ng-template mat-tab-label>
      <mat-icon>local_mall</mat-icon>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <ng-container>
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab label="我">
    <ng-template mat-tab-label>
      <mat-icon>account_circle</mat-icon>
    </ng-template>
    <app-my></app-my>
  </mat-tab>
</mat-tab-group>
<ng-template #content>
  <iframe src="https://material.angular.cn/" width="100%" height="100%" frameborder="0"></iframe>
  <!-- <a style="display: block; margin-top: 40px; margin-bottom: 20px; color: #108ee9" (click)="showNextTabBar($event)">
    Click to next tab-bar
  </a>
  <a style="display: block; margin-top: 20px; margin-bottom: 20px; color: #108ee9" (click)="showTabBar($event)">
    Click to show/hide tab-bar
  </a>
  <a style="display: block; margin-top: 20px; margin-bottom: 20px; color: #108ee9" (click)="changePosition($event)">
    Click to change tab-bar position top/bottom
  </a>
  <a style="display: block; margin-bottom: 60px; color: #108ee9" (click)="showFullScreen($event)">
    Click to switch fullscreen
  </a> -->
</ng-template>