<!-- <div class="am-demo-page">
  <div class="am-demo-bd">
    <div style="border-bottom: 1px solid #ddd;">
      <SearchBar [placeholder]="'Search'" [maxLength]="8"></SearchBar>
    </div>
  </div>
</div>
<PullToRefresh style="padding-bottom: 45px;" [ngStyle]="dtPullToRefreshStyle" [direction]="state.direction" [(ngModel)]="state.refreshState"
  [endReachedRefresh]="state.endReachedRefresh" (onRefresh)="pullToRefresh($event)">
  <WingBlank>
    <Carousel [infinite]="true" [vertical]="false" [selectedIndex]="1" (beforeChange)="beforeChange($event)"
      (afterChange)="afterChange($event)">
      <CarouselSlide *ngFor="let item of winstate.data">
        <div style="display: inline-block; width: 100%;" [ngStyle]="{'height': winstate.imgHeight}">
          <img src="https://zos.alipayobjects.com/rmsportal/{{item}}.png" style=" pointer-events: none; width: 100%;" />
        </div>
      </CarouselSlide>
    </Carousel>
  </WingBlank>
  <div *ngFor="let i of this.state.data" style="text-align: center; padding: 5px">
    <WingBlank [size]="'lg'">
      <Card>
        <CardHeader [title]="'This is title' + i"
          [thumb]="'https://www.gravatar.com/avatar/' + i + '?d=monsterid&f=y'" [thumbStyle]="{width: '48px',
          height: '48px'}"
          [extra]="extra">
          <ng-template #extra>
            <span>this is extra</span>
          </ng-template>
        </CardHeader>
        <CardBody>
          <div>This is content of Card</div>
        </CardBody>
        <CardFooter [content]="'footer content'" [extra]="footerExtra">
          <ng-template #footerExtra>
            <div>extra footer content</div>
          </ng-template>
        </CardFooter>
      </Card>
    </WingBlank>
  </div>
</PullToRefresh>

<ng-template #loading>
  <Icon type="loading"></Icon>
</ng-template> -->